* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html {
    scroll-behavior: smooth;
    background-color: whitesmoke;
    width: auto;
}

body {
    font-size: 120%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: rgb(255, 158, 54);
    padding-bottom: 50px;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
nav li {
    list-style: none;
    font-size: 200%;
}

nav a {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
}

h1, h2 {
    padding-bottom: 10px;
}

#presentation {
    padding: 30px;
    background-color: rgb(226, 226, 226);
}


.video {
    margin-top: 20px;
    display: flex;
    font-style: italic;
    flex-direction: column;
    align-items: center;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 70%;
    height: 700px;
}

#more {
    padding: 30px;
    background-color: rgb(255, 158, 54);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#more img {
    padding-top: 30px;
}

#about {
    padding: 30px;
    background-color: rgb(226, 226, 226);
}

footer {
    background-color: rgb(157, 157, 157);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#github {
    width: 100px;
}

#download {
    width: 100px;
}

#youtube {
    width: 100px;
}